@import "../../styles/main";

.why-wrapper {
  background-color: #f2f2f2;
  .container {
    .why {
      padding: 65px 0;
      .why-cols {
        .why-col-1 {
          h2 {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 900;
          }
          ul {
            color: $primary-color;
            margin-left: 15px;
            font-size: 0.875rem;
            line-height: 1.5;
            padding: 25px 0;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .why-image {
            margin-bottom: 20px;
            padding: 20px;
            width: 100%;
          }
        }
        .why-col-2 {
          h3 {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: 900;
          }
          ul {
            color: $primary-color;
            margin-left: 15px;
            font-size: 0.875rem;
            line-height: 1.5;
            padding: 25px 0;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .why-wrapper {
    .container {
      .why {
        padding: 100px 0;
        .why-cols {
          display: flex;
          justify-content: space-between;
          .why-col-1 {
            width: 45%;
            h2 {
              color: $primary-color;
              font-size: 2rem;
              font-weight: 900;
            }
            ul {
              font-size: 1rem;
              padding: 40px 0;
            }
            .why-image {
              padding: 0;
            }
          }
          .why-col-2 {
            width: 45%;
            h3 {
              font-size: 1.5rem;
            }
            ul {
              font-size: 1rem;
              padding: 20px 0;
            }
          }
        }
      }
    }
  }
}
