@import "../../styles/main";

.howItWorks-wrapper {
  .container {
    .howItWorks {
      padding: 65px 0;
      .hiw-title {
        margin-bottom: 25px;
        h2 {
          color: $primary-color;
          font-size: 1.5rem;
          font-weight: 900;
        }
      }
      .hiw-rows {
        .hiw-row {
          position: relative;
          padding: 0 0 20px 80px;
          &::before {
            content: "";
            width: 1px;
            bottom: 0;
            position: absolute;
            left: 30px;
            top: 0;
            border-left: 2px dashed $accent-color;
          }
          &:nth-child(3) {
            &::before {
              height: 0;
            }
          }
          .hiw-desc {
            span {
              width: 60px;
              height: 60px;
              color: $accent-color;
              background-color: $light-color;
              border: 3px solid $accent-color;
              border-radius: 50%;
              font-size: 1.875rem;
              font-weight: 700;
              line-height: 1.8;
              top: 0;
              left: 0;
              text-align: center;
              position: absolute;
            }
            h3 {
              color: $accent-color;
              font-size: 1.25rem;
              font-weight: 700;
              padding-top: 21px;
            }
            p {
              color: $primary-color;
              font-size: 0.875rem;
              line-height: 1.5;
              padding: 20px 0;
            }
          }
          .hiw-ico {
            font-size: 8rem;
            color: #c9cef4;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .howItWorks-wrapper {
    .container {
      .howItWorks {
        padding: 100px 0 60px 0;
        .hiw-title {
          margin-bottom: 50px;
          h2 {
            font-size: 2rem;
          }
        }
        .hiw-rows {
          padding: 0 100px 20px 100px;
          .hiw-row {
            padding: 0 0 80px 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .hiw-desc {
              width: 70%;
              h3 {
                font-size: 1.5rem;
                padding-top: 17px;
              }
              p {
                font-size: 1rem;
              }
            }
            .hiw-ico {
              width: 30%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
