@import "../styles/main";

.logo {
  display: flex;
  p {
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: $primary-color;
    span {
      font-weight: 300;
    }
  }
}
