@import '../styles/main';

.nav {
  background-color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .nav-items {
      .nav-item {
        display: inline;
        margin-left: 2rem;
        color: $primary-color;
        font-size: 1.125rem;
        font-weight: 500;
        &:hover {
          cursor: pointer;
          border-bottom: 2px solid $primary-color;
          padding-bottom: 5px;
        }
      }
      @media screen and (max-width: 850px) {
        display: none;
      }
    }
    .nav-mobile {
      .nav-mobile-icon {
        color: $primary-color;
        font-size: 1.5rem;
        cursor: pointer;
      }
      @media screen and (min-width: 850px){
        display: none;
      }
    }
  }
}
